<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><h1>chat-box</h1>
    </div>
    <div class="chat" id="chat" >
        {% for sender, msg in conversation %}
        <div class="bubble {{ 'user' if sender == 'you' else 'bot' }}">{{msg}}</div>
    {% endfor %}
    </div>

    <form action="/" method="POST">
    <input type="text" name="user_input" placeholder="Ask me">
    <button>submit</button>
</form>
<script>
    window.onload = () => {
        const chat = document.getElementById("chat");
        chat.scrollTop = chat.scrollHegiht;
    };
</script>
</body>
</html>



